{% extends 'base.html'%}
{% load static %}
{%block head %}
<link rel="stylesheet" href="{% static 'css/chickens/chicken-index.css' %}">
{% endblock %}

{% block content %}
<section class="page-header">
    <h1>Chicken List</h1>
    <img src="{% static 'images/cool-chicken.png' %}" alt="A cool chicken" />
    <img src="{% static 'images/happy-chicken.png' %}" alt="A happy chicken" />
    <img src="{% static 'images/chicken-in-a-box.png' %}" alt="A chicken in a box" />
</section>
<section class="card-container">
    {% for chicken in chickens %}
    <div class="card">
        <div class="card-content">
            <div class="card-image-container">
                <img src="{% static 'images/chicken.png' %}" alt="A chicken" />
            </div>
            <h2 class="card-title">{{ chicken.name }}</h2>
            {% if chicken.age > 0 %}
            <p>A {{ chicken.age }} year old {{ chicken.breed }} </p>
            {% else %}
            <p>A {{ chicken.breed }} chick</p>
            {% endif %}
            <p><small>{{ chicken.description }}</small></p>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}